* {
	/* fonts */
	font-family: Arial, Helvetica, sans-serif;;
	font-size: 12px;


	/* box style */
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;

	/* default colours */
	background-color: #ABB2B9;
}
h1 {
	font-size: 1.75em;
	margin-bottom: 15px;
	text-align: center;
}
.menu-item {
	border: 2px solid black;
	background-color: #e0e0d1;
}
.menu-title  {
	border: 2px solid black;
	text-align: center;
	font-size: 1.25em;
	padding: 5px;
	float: right;
	position: relative;
	top: -2px;
	right: -2px;
}
.menu-text {
	clear: right;
	padding: 10px 10px 10px 10px;
	background-color: #e0e0d1;
}
#h2-chicken {
	background-color: #ffcccc;
}
#h2-beef {
	background-color: #ff3333;
}
#h2-sushi {
	background-color: #ffd633;
}

/* === Text space === */

/* Large */
@media (min-width: 992px) {
	.menu-text-lg {
		height: 130px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.menu-text-md {
		height: 130px;
	}
}
/* === 6 column rows           === */
/* === Ignore redundant widths === */

.row {
  	width: 100%;
	padding: 0px 10px 0px 0px;
}
.cell {
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 10px;
}

/* Large */
@media (min-width: 992px) {
	.col-lg-2, .col-lg-3, .col-lg-6 {
	float: left;
	}
	.col-lg-2 {
	width: 33.3%;
	}
	.col-lg-3 {
	width: 50%;
	}
	.col-lg-6 {
	width: 100%;
	}
}
/* Medium */
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-2, .col-md-3, .col-md-6 {
	float: left;
	}
	.col-md-2 {
	width: 33.3%;
	}
	.col-md-3 {
	width: 50%;
	}
	.col-md-6 {
	width: 100%;
	}
}
/* Small */
@media (max-width: 767px) {
	.cell {
		margin-left: auto;
		margin-right: auto;
		min-width: 100px;
		max-width: 400px;
	}
}
